<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbar">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <nav class="navbar navbar-dark bg-dark px-4 py-3">

        <a href="/products"
           class="navbar-brand fw-bold text-warning fs-2">

            Desi Store

        </a>

        <div>
			
			<span th:if="${session.loggedInUser != null}"

			      th:text="'Hello, '
			      + ${session.loggedInUser.username}
			      + ' ('
			      + ${session.loggedInUser.role}
			      + ')'">
			</span>
			
            <a href="/products"
               class="btn btn-light me-2">

                <i class="fa fa-house"></i>
                Home

            </a>

            <a href="/cart"
               class="btn btn-warning me-2">

                <i class="fa fa-cart-shopping"></i>
                Cart

            </a>

            <a href="/myOrders"
               class="btn btn-info me-2">

                <i class="fa fa-box"></i>
                Orders

            </a>

            <a href="/logout"
               class="btn btn-danger">

                Logout

            </a>

        </div>

    </nav>

</div>

</body>
</html>